Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [3]:
import pandas as pd
a = [[4,8,15,16,23,42]]

In [7]:
df = pd.Series(a)

In [9]:
df

0    [4, 8, 15, 16, 23, 42]
dtype: object

In [10]:
type(df)

pandas.core.series.Series

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [1]:
l = [1,2,25,54,45,451,641,641,15,15]

In [5]:
df2 = pd.Series(l)

In [6]:
df2

0      1
1      2
2     25
3     54
4     45
5    451
6    641
7    641
8     15
9     15
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

Then, print the DataFrame.

In [9]:
d = {'Name':['Alice','Bob', 'Claire'], 'Age':[25, 30, 27], 'Gender':['Female','Male', 'Female']}

In [11]:
df3 = pd.DataFrame(d)

In [13]:
df3

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [14]:
type(df3)

pandas.core.frame.DataFrame

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans : Pandas is a library present in the python. In Pandas we have DataFrame & Series. DataFrame is a two dimensional contains rows & columns like excel sheet. & Series is an one dimensional & each column in DataFrame can be throught a pandas series.

In [12]:
s1 = [1,3,5,7,9,11]

In [13]:
series = pd.Series(s1)

In [14]:
series

0     1
1     3
2     5
3     7
4     9
5    11
dtype: int64

In [15]:
df = {'name':['harish','karan','sanjay'],'age':[25,19,55],'education':['MA','BCA 2nd year', 10]}

In [27]:
df2 = pd.DataFrame(df)

In [28]:
df2

     name  age     education
0  harish   25            MA
1   karan   19  BCA 2nd year
2  sanjay   55            10

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Ans : 1. 'head' and 'tail' : These functions use to display to top & bottom records in dataframe respectively For example, you might use the head() function to quickly view the first few rows of a DataFrame to get a sense of its structure and content. 
2. 'iloc' and 'loc' : These functions use for the indexing and selection data from dataframe  For example, you might use loc[] to select all rows where the value in the "name" column is "John".. 
3. 'drop' : This function use for the drop row or column from the dataframe For example, you might use drop() to remove columns that contain missing data or irrelevant information.
4. 'fillna' : This function use for the fill missing values in the dataframe  For example, you might use fillna() to replace all missing values in a column with the mean value of that column.

These are some common functions I can use for manipulate the data.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans : Series and DataFrame both are mutable in nature.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [16]:
s1 = pd.Series(['harish', 'karan', 'rahul', 'sanjay'])

In [17]:
s2 = pd.Series([25,19,32,55])

In [18]:
s3 = pd.Series(['MA','BCA','MA','X'])

In [19]:
dataframe = pd.DataFrame({'name':s1, 'age':s2, 'education':s3})

In [20]:
dataframe

     name  age education
0  harish   25        MA
1   karan   19       BCA
2   rahul   32        MA
3  sanjay   55         X